
@media screen and (max-width: 576px) {

    /* body {
        max-width: 576px;
    } */
    .total-w {
        width: 90%;
        margin: 0 auto;
    }

    .nav-tool {
        display: none;
    }

    .bar {
        display: block;
        font-size: 30px;
    }

    .banner-content {
        margin-top: 50px;
    }

    .banner-main {
        display: block;
        justify-content: space-between;
        margin-top: 20px;
    }

    .banner-text {
        color: #FFFFFF;
        font-size: 3rem;
        line-height: 50px;
    }
    .span {
        font-size: 3rem;
    }

    .button {
        padding: 10px 15px;
        border-radius: 25px;
        font-size: 16px;
        font-weight: 600;
    }

    .banner-img {
        margin-top: 45px;
    }

    .video {
        font-size: 10px;
    }

    .batch {
        bottom: -30%;
        right: 60%;
    }

    .number-1 {
        font-size: 25px;
        font-weight: bold;
    }

    .workout {
        font-size: 10px;
    }

    .batch-1 {
        /* top: 70%;
        right: 12%; */
        top: 90%;
        right: 5%;
    }

    /* second Part style */

    .second-part-pic {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 30px;
    }

    .pic-section {
        margin-bottom: 40px;
    }

    .second-part-h {
        font-size: 32px;
        margin-top: 15px;
    }

    /* second part style end */
    /* third part style start */
    .third-part-h {
        font-size: 32px;
    }

    .third-part {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .runner-pic {
        max-width: 100%;
        margin-top: 20px;
    }

    .third-part {
        margin: 30px 0px 30px 0;
    }

    /* third part style end */
    /* forth part style start */
    .forth-part-h {
        font-size: 32px;
    }

    .forth-part-text {
        margin-bottom: 25px;
    }

    .bmi-h {
        font-size: 16px;
        font-weight: 900;
        margin-bottom: 15px;
    }

    .forth-part-left {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 25px 15px;
        background-color: #222222;
        margin-bottom: 40px;
    }

    .btn-calculate {
        padding: 12px 40px;
        border-radius: 42px;
        font-size: 16px;
        margin-top: 15px;
    }

    .forth-left-h {
        font-size: 16px;
        font-weight: 900;
        margin-bottom: 12px;
    }
    

    /* forth part style end */
    /* fifth part start */
    .fifth-part-h {
        font-size: 32px;
        font-weight: 900;
    }
    .fifth-part-p {
        margin-bottom: 35px;
    }

    .fifth-part-img {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 20px;
        height: 100%;
        padding: 15px;
    }

    .grid-pic {
        border-radius: 18px;
        height: 100%;
        width: 100%;
        margin: 0 auto;
    }
    .fifth-p {
        margin-bottom: 17px;
    }

    /* fifth part end */
    /* extra part start */
    .extra-part-enroll {
        display: block;
        margin-top: 50px;
     }
     .extra-part-h {
        font-size: 32px;
    }
     .btn-enroll {
        background-color: #E6533CFF;
        padding: 15px 40px;
        border-radius: 5px;
        margin-top: 30px;
        border: none;
        font-size: 20px;
        font-weight: bold;
    }
    .extra-part-price {
        text-align: center;
        margin-top: 25px;
        padding: 25px 10px 0px 10px;
    }
    /* extra part start */
    /* footer part start */
    .footer-p {
        width: 317px;
    }

    .footer-section {
        display: block;
    }

    .footer {
        margin-top: 66px;
        padding: 30px 30px 40px 30px;
        background-color: #FFFFFF1A;
    }
    .footer-p {
        margin-bottom: 15px;
    }

    .footer-first-sec {
        margin-bottom: 35px;
    }
    .footer-second-sec {
        margin-bottom: 35px;
    }
    .hr {
        margin-top: 50px;
    }
    .footer-p2 {
        font-size: 18px;
    }
}

@media only screen and (min-width: 10px) and (max-width: 375px) {
    input {
        width: 88%;
    }
}
@media only screen and (min-width: 1070px) and (max-width: 1150px) {
    .forth-part-left {
        padding: 35px 90px;
    }
} 
@media only screen and (min-width: 1151px) and (max-width: 1250px) {
    .forth-part-left {
        padding: 35px 120px;
    }
}
@media only screen and (min-width: 993px) and (max-width: 1069px) {
    .forth-part-left {
        padding: 35px 60px;
    }
}

@media only screen and (min-width: 1101px) and (max-width: 1301px) {
    
    .extra-part-price {
        text-align: center;
        margin-top: 50px;
        border: 1px solid #FFFFFF1A;
        /* padding: 40px 10px 0px 10px; */
        background-color: #FFFFFF1A;
        border-radius: 12px;
    }
    .btn-enroll {
        background-color: #E6533CFF;
        /* padding: 15px 20px; */
        border-radius: 5px;
        margin-top: 45px;
        border: none;
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 15px;
        /* width: 100%; */
    }
}

@media only screen and (min-width: 993px) and (max-width: 1100px) {
    .extra-section {
        width: 90%;
    }
    .btn-enroll {
        padding: 15px 25px;
    }
    .extra-part-price {
        padding: 40px 20px 0px 20px; 
    }
}
@media only screen and (min-width: 1101px) and (max-width: 1250px) {
    .extra-section {
        width: 85%;
    }
    .btn-enroll {
        padding: 15px 25px;
    }
    .extra-part-price {
        padding: 40px 20px 0px 20px; 
    }
}
@media only screen and (min-width: 1251px) and (max-width: 1350px) {
    .extra-section {
        width: 85%;
    }
}