@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Grey+Qo&display=swap');

body {
    font-family: "Inter", sans-serif;
    font-style: normal;
    background-color: black;
    /* max-width: auto; */
    max-width: 1440px;
    margin: 0 auto;
}

* {
    margin: 0;
    padding: 0;
}


.color-1 {
    color: #E6533CFF;
}

.color-2 {
    color: #FFFFFF80;
}

.color-3 {
    color: #FFFFFF;
}

.font-1 {
    font-size: 48px;
}

.font-2 {
    font-size: 14px;
}



.total-w {
    width: 80%;
    margin: 0 auto;
}

.banner-part {
    background: linear-gradient(#11111100, #77777740, #77777740, #11111100);
}

.banner {
    text-align: center;
}

.logo-text {
    font-size: 2rem;
    font-weight: 800;
    font-style: italic;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.nav-tool {
    display: flex;
    border: 1px solid #FFFFFF1A;
    gap: 3rem;
    padding: 2px;
    padding-right: 15px;
    border-radius: 20px;
    text-align: center;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.bar {
    display: none;
    color: white;
}

.nav-tool h5 {
    font-size: 1rem;
    color: #FFFFFF;
    font-weight: 400;
}

.nav-home {
    background-color: #E6533CFF;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
}


.banner-text {
    color: #FFFFFF;
    font-size: 4rem;
}

.span {
    font-family: "Dancing Script", cursive;
    font-style: italic;
    font-weight: 100;
}

.btn-join-club {
    background-color: #E6533CFF;
    margin-right: 10px;
    color: #FFFFFF;
    border: none;
}

.btn-download {
    color: white;
    border: 1px solid white;
    background-color: transparent;
}

.button {
    padding: 15px 38px;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 600;
}

.banner-content {
    margin-top: 90px;
}

.banner-p {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.banner-main {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.batch {
    display: flex;
    gap: 7px;
    align-items: center;
    background-color: #3030308A;
    padding: 12px;
    border-radius: 12px;
    position: absolute;
    bottom: 25%;
    right: 28%;
    border: 1px solid #3030308A;
}

.fa-play {
    color: white;
    background-color: #E6533CFF;
    padding: 10px;
    border-radius: 50%;
}

.number {
    color: #FAFAF9FF;
    font-size: 24px;
    font-weight: bold;
}

.video {
    color: #EFEDE8A6;
    font-size: 13px;
}

.banner-img {
    position: relative;
}

.number-1 {
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.workout {
    font-size: 13px;
    color: #FFFFFFA6;
}

.batch-1 {
    padding: 15px;
    border-radius: 12px;
    background-color: #FFFFFF14;
    position: absolute;
    top: 30%;
    right: 7%;
    border: 1px solid #FFFFFF14;
}

/* second part style start*/

.second-part {
    margin-top: 50px;
}

.second-part-h {
    font-size: 48px;
    margin-bottom: 10px;
}

.second-part-p {
    font-size: 14px;
    margin-bottom: 30px;
}

.second-part-text {
    text-align: center;
}

.pic-text-h {
    font-size: 18px;
    margin-bottom: 4px;
}

.pic-text-p {
    font-size: 14px;
}

.pic-text {
    margin-top: 10px;
}

.img-1 {
    border-radius: 50%;
}

.pic-section {
    text-align: center;
}

.second-part-pic {
    display: flex;
    justify-content: space-between;
}

/* second part style end */
/* third part style start */
.third-part-h {
    margin-bottom: 15px;
}

.join-now-btn {
    background-color: #E6533CFF;
    padding: 15px 60px;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    margin-top: 25px;
}

.third-part {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 30px;
    background-color: #222222;
    border-radius: 15px;
    align-items: center;
}

/* third part style end */
/* forth part style start */
.forth-part-text {
    max-width: 671px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.forth-part-h {
    margin-bottom: 10px;
}

.bmi-h {
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 34px;
}

.table-container {
    color: white;
}



/* styles.css */

.bmi-table {
    /* justify-content: center;
    align-items: center; */
    width: 310px;
    height: 216px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    font-size: 14px;
    color: #FFFFFF80;
}

tr {
    font-size: 16px;
    font-weight: 500;
}

th,
td {
    padding: 10px;
    text-align: left;
    border: 1px solid #FFFFFF1A;
}

.forth-left-h {
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 12px;
}

.forth-left-p {
    margin-bottom: 20px;
}

.forth-part-left {
    display: flex;
    justify-content: space-between;
    padding: 35px 205px;
    background-color: #222222;
    margin-bottom: 90px;
}
.input {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto) 1fr;
    width: 100%;
    gap: 10px;
}

.input> :nth-child(5) {
    grid-column: span 2;
}

.input-field {
    color: #FFFFFF99;
    padding: 10px;
    background-color: #FFFFFF1A;
    border: none;
    border-radius: 4px;
}
.btn-calculate {
    background-color: #E6533CFF;
    padding: 16px 40px;
    border-radius: 42px;
    font-size: 18px;
    border: none;
    margin-top: 20px;
}
/* forth part style end */
/* fifth part start */
.fifth-part-p {
    margin-top: 15px;
    margin-bottom: 30px;
}
.fifth-part-text {
    text-align: center;
}

.fifth-part-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    max-width: 100%;
    height: 615px;
    padding: 20px;
    border-radius: 18px;
    background-color: #FFFFFF1A;
}
.grid-pic {
    background-size: cover;
    background-position: center;
    border-radius: 18px;
    height: 100%;
    width: 100%;
}
.fifth-part-h3 {
    color: white;
    font-size: 20px;
    margin-top: 70%;
    margin-left: 5%;
}
.fifth-p {
    margin-top: 5px;
    margin-left: 5%;
}
/* fifth part start */
/* footer part start */
.footer-h1 {
    font-size: 70px;
    font-style: italic;
}
.footer-h3 {
    margin-bottom: 30px;
    font-size: 32px;
}
.footer-p {
    margin-bottom: 20px;
    color: #FFFFFF80;
    font-size: px;
}
.hr {
    border: 1px solid #FFFFFF1A;
}

/* footer part end */



